---
const {
} = Astro.props;
---
<footer class="relative px-4 py-12 md:py-16 text-[#303133]">
  <!-- Contenido -->
   <div class="mx-auto max-w-7xl">
  <div class="relative grid gap-8 md:grid-cols-3">
    <!-- Columna 1 -->
    <div>
      <img src="/orossm.webp" alt="" class="mb-4">
      <p class="text-sm text-[#303133] leading-relaxed">
        Impulsamos tu negocio con soluciones digitales que generan impacto real.
      </p>
    </div>

    <!-- Columna 2 -->
    <div>
      <h3 class="text-lg font-semibold mb-3 text-[#001F3F]">Enlaces</h3>
      <ul class="space-y-2 text-sm text-[#303133]">
        <li><a href="/servicios" class="hover:text-[#ff4a09] transition">Servicios</a></li>
        <li><a href="/about" class="hover:text-[#ff4a09] transition">Nosotros</a></li>
        <li><a href="/contacto" class="hover:text-[#ff4a09] transition">Contacto</a></li>
        <li><a href="/privacy-policy" class="hover:text-[#ff4a09] transition">privacy-policy</a></li>
      </ul>
    </div>

    <!-- Columna 3 -->
    <div>
      <h3 class="text-lg font-semibold mb-3 text-[#001F3F]">Contacto</h3>
      <ul class="space-y-2 text-sm text-[#303133]">
        <li><a href="tel:+5493513806166" rel="noopener noreferrer" class="hover:text-[#ff4a09] transition">+54 9 351 3806166</a></li>
        <li><a href="mailto:info@orossm.com" rel="noopener noreferrer" class="hover:text-[#ff4a09] transition">info@orossm.com</a></li>
        <li>Córdoba, Argentina</li>
      </ul>
    </div>
  </div>

  <!-- Línea inferior -->
  <div class="relative border-t border-black/10 mt-12 pt-6 text-sm text-center text-[#303133]">
    © 2025 ÓROS SM. Todos los derechos reservados. Desarrollado por <a href="https://portfolio-2025-eta-smoky.vercel.app/" rel="noopener noreferrer" class="hover:text-[#ff4a09] transition">MigueDev</a> & <a href="https://luc4ssan.com/" rel="noopener noreferrer" class="hover:text-[#ff4a09] transition">Luc4sSan</a>.
  </div></div>
</footer>
