---
import Asterisco from "../ico/Asterisco.astro";
import Facebook from "../ico/Facebook.astro";
import Instagram from "../ico/Instagram.astro";
import Linkedin from "../ico/Linkedin.astro";
import Mail from "../ico/Mail.astro";
import Phone from "../ico/Phone.astro";
import Ubication from "../ico/Ubication.astro";
---

<div class="relative w-full overflow-hidden bg-[#303133]">
  <div class="max-w-7xl mx-auto  grid grid-cols-1 md:grid-cols-[auto_30%] bg[#303133]">
    
    <!-- Bloque izquierdo (contacto) -->
    <div class="bg-[#303133] text-white relative z-10 hidden md:block">
      <div class="px-4 py-2 flex flex-wrap gap-4 items-center">
        <a href="tel:+5493513806166"
           rel="noopener noreferrer"
           class="flex px-3 py-1.5 items-center text-sm gap-2 hover:text-[#FF7F50] transition">
          <Phone color='#FFFFFF'/> +5493513806166
        </a>
        <a href="mailto:info@orossm.com" 
            rel="noopener noreferrer" 
           class="flex px-3 py-1.5 items-center text-sm gap-2 hover:text-[#FF7F50] transition">
          <Mail color='#FFFFFF'/>info@orossm.com
        </a>
        <a href="https://maps.google.com/?q=Córdoba" target="_blank" 
           rel="noopener noreferrer" 
           class="flex px-3 py-1.5 items-center text-sm gap-2 hover:text-[#FF7F50] transition">
          <Ubication color='#FFFFFF' />Córdoba, Argentina.
        </a>
      </div>
    </div>

    <!-- Bloque derecho (redes sociales con corte diagonal) -->
    <div class="relative bg-[#303133]">
      <!-- fondo verde flúor con diagonal -->
      <div class="absolute inset-0 bg-white [clip-path:polygon(15%_0,100%_0,100%_100%,0_100%)]"></div>
      
      <!-- contenido -->
      <div class="relative flex items-center justify-end px-4 py-2 mr-2">
        <div class="flex gap-2">
          <a href="https://www.instagram.com/oros.sm/" target="_blank" rel="noopener noreferrer" class="w-8 h-8 rounded-full bg-[#303133] hover:bg-[#303133]/30 flex items-center justify-center transition"><Instagram color="white"/></a>
          <a href="https://www.facebook.com/orosstrategymarketing/" target="_blank" rel="noopener noreferrer" class="w-8 h-8 rounded-full bg-[#303133] hover:bg-[#303133]/30 flex items-center justify-center transition"><Facebook color="white"/></a>
          <a href="https://www.linkedin.com/company/oros-sm/" target="_blank" rel="noopener noreferrer" class="w-8 h-8 rounded-full bg-[#303133] hover:bg-[#303133]/30 flex items-center justify-center transition"><Linkedin color="white"/></a>
          <!-- <a href="#" class="w-8 h-8 rounded-full border border-white bg-[#224433]/20 hover:bg-[#224433]/30 flex items-center justify-center transition"></a>
          <a href="#" class="w-8 h-8 rounded-full border border-[#224433]/40 bg-[#224433]/20 hover:bg-[#224433]/30 flex items-center justify-center transition"></a> -->
        </div>
      </div>
    </div>

  </div>
</div>
