<div class="relative bg-[#303133] h-8">
  <!-- capa del patrón -->
  <div
    class="absolute left-0 right-0 top-0 h-8 rounded-t-3xl z-0
           [background:repeating-linear-gradient(135deg,_transparent,_transparent_10px,_rgba(255,255,255,0.06)_10px,_rgba(255,255,255,0.06)_20px)]"
  >
  </div>
</div>
